body {
    background-color: #eceff0;
}
button
{
   position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #9ff3ff;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
    cursor: pointer;
}
body,
input {
    font: 1em "Open Sans", sans-serif;
    color: #363639;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed #363639;
}

/* list */
.list {
    background-color: #ffffff;
    margin: 20px auto;
    width: 100%;
    max-width: 650px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.list .header {
    font-family: "Shadows Into Light Two", cursive;
    margin: 0 0 10px 0;
}

/* Items */
.items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.done-button:hover,
.undone-button:hover,
.delete-button:hover {
    opacity: 1;
}

.items .item.done {
    text-decoration:line-through;
}

.items li,
.item-add .input {
    border: 0;
    border-bottom: 1px dashed #ccc;
    padding: 20px 0;
}

.input {
    width: 100%;
}

.input:focus {
    outline: none;
}

.done-button, .undone-button{
    display: inline-block;
    font-size: 0.8em;
    background-color: #d9dfe1;
    color: #363639;
    padding: 3px 6px;
    border: 0px;
    opacity: 0.4;
    float: right;
}

.delete-button {
    display: inline-block;
    font-size: 0.8em;
    background-color: #FF1919;
    color: #363639;
    padding: 3px 6px;
    border: 0px;
    opacity: 0.6;
    float: right;
}

.undone-button {
    margin-left: 20px;
}

.delete-button {
    margin-left: 20px;
}

/* Submit button */

.submit {
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    box-shadow: 3px 3px 0 #ddd;
    cursor: pointer;
}

.submit:active {
    box-shadow: 0px 0px 0;
}

.submit:focus {
    outline-width: 0px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}